@use 'assets'

.panel
    position: absolute
    top: 450px
    left: 100px
    background: linear-gradient(135deg, rgb(110, 110, 115), rgb(25, 25, 30))
    width: 160px
    height: auto
    min-height: 160px
    border-radius: 15px
    box-shadow: inset 10px 10px 30px rgba(255, 255, 255, .06), 5px 5px 10px rgba(0, 0, 0, 1), -1px 1px 5px rgba(assets.$accent, $alpha: 15%), 1px -1px 5px rgba(assets.$accent, $alpha: 15%)
